extends layout

block content
    div.container
        section.section
            nav.level.has-background-white-ter
                p.level-item.has-text-centered
                    strong Binary Search Tree Experiment
                p.level-item.has-text-centered
                    a.link.is-info Insert
                p.level-item.has-text-centered
                    a.link.is-info Search
                p.level-item.has-text-centered
                    a.link.is-info Delete
                p.level-item.has-text-centered
                    a.button.is-success Re-Balance
            div.notification
                div.field.has-addons
                    p.control
                        input.input(type="text", placeholder="New string")
                    p.control
                        button.button Insert
            div.notification
                div.field.has-addons
                    p.control
                        input.input(type="text", placeholder="Find a string")
                    p.control
                        button.button Search
            div.notification

                //- create search bar form []-
                //- form(method="POST" action="/")

                button.button.is-success#printBST Print

                //- create name input form []-
                //- create single name field for now []-
                //- create submit button

                //- create row that shows the name []-

                //- recursive templating??? // for each node in the binary tree []-
                //- if that is too hard then just recursively in the backend before rendering []-
        section.section
            p This is the content
