extends layout

block content
    div.container
        section.section
            nav.level.has-background-white-ter
                p.level-item.has-text-centered
                    strong Binary Search Tree Experiment
                p.level-item.has-text-centered
                    a.link.is-info(href="#") Insert
                p.level-item.has-text-centered
                    a.link.is-info(href="#") Search
                p.level-item.has-text-centered
                    a.link.is-info(href="#") Update
                p.level-item.has-text-centered
                    a.link.is-info(href="#") Delete
                p.level-item.has-text-centered
                    a.button.is-success(href="#") Re-Balance
            div.notification.columns.is-centered
                div.field.has-addons.column
                    form
                        p.control.has-text-centered
                            input.input#insert-input(type="text", placeholder="New string")
                        p.control.has-text-centered
                            button.button.is-dark.is-outlined#insert-button Insert
                div.field.has-addons.column
                    form
                        p.control.has-text-centered
                            input.input#search-input(type="text", placeholder="Name begins with")
                        p.control.has-text-centered
                            button.button.is-dark.is-outlined#search-button Search
                div.column.has-text-centered
                    button.button.is-success#print-list Print List
                    button.button#clear-list Clear
                    div
                        ul#contacts-in-order
        section.section
            p This is the content
