extends layout

block content
    div.container.is-fluid
        div.notification
            h1= title
            p Welcome to #{title}

            //- create search bar form []-
            //- form(method="POST" action="/")

            button.button.is-success#printBST Print

            //- create name input form []-
            //- create single name field for now []-
            //- create submit button

            //- create row that shows the name []-

            //- recursive templating??? // for each node in the binary tree []-
            //- if that is too hard then just recursively in the backend before rendering []-
