extends layout

block content
    div.container
        section.section
            nav.level.has-background-white-ter
                p.level-item.has-text-centered
                    strong Binary Search Tree Experiment
                p.level-item.has-text-centered
                    a.link.is-info(href="#") Insert
                p.level-item.has-text-centered
                    a.link.is-info(href="#") Search
                p.level-item.has-text-centered
                    a.link.is-info(href="#") Update
                p.level-item.has-text-centered
                    a.link.is-info(href="#") Delete
                p.level-item.has-text-centered
                    a.button.is-success(href="#") Re-Balance
            div.notification
                div.field.has-addons
                    form
                        p.control
                            input.input#insert-input(type="text", placeholder="New string")
                        p.control
                            button.button#insert-button Insert
            div.notification
                div.field.has-addons
                    form
                        p.control
                            input.input#search-input(type="text", placeholder="Name begins with")
                        p.control
                            button.button#search-button Search
            div.notification
                button.button.is-success#print-bst Print List
                button.button#clear-list Clear
                div
                    ul#contacts-in-order
        section.section
            p This is the content
